.header-starwars{
    width: 100%;
    background-color: #62707d;
    height: 65px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    color: black;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-starwars img{
    width: 250px;
}

.container-img-starwars{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container-img-starwars img{
    width:100px
}

@media only screen and (max-width: 600px) {
    .header-starwars img{
        width: 125px;
    }

    .header-starwars h2{
        font-size: 16px;
        text-align: center;
    }
    
    .container-img-starwars{
        width: 125px;
    }
  }